:root {
	--vkui--theme_name: 'octavius';
	--vkui--elevation1: 0 2px 0 0 rgba(0, 16, 61, 0.04);
	--vkui--elevation1_invert_y: 0 -2px 0 0 rgba(0, 16, 61, 0.04);
	--vkui--elevation2: 0 4px 32px 0 rgba(0, 16, 61, 0.32);
	--vkui--elevation3: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
	--vkui--elevation4: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
	--vkui--gradient_black: rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.014) 13%, rgba(0, 0, 0, 0.06) 27%, rgba(0, 0, 0, 0.316) 68%, rgba(0, 0, 0, 0.38) 84%, rgba(0, 0, 0, 0.4) 100%;
	--vkui--gradient_white: rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.036) 13%, rgba(255, 255, 255, 0.15) 27%, rgba(255, 255, 255, 0.79) 68%, rgba(255, 255, 255, 0.95) 84%, rgba(255, 255, 255, 1) 100%;
	--vkui--gradient_tint: rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.036) 13%, rgba(249, 249, 250, 0.15) 27%, rgba(249, 249, 250, 0.79) 68%, rgba(249, 249, 250, 0.95) 84%, rgba(249, 249, 250, 1) 100%;
	--vkui--animation_duration_l: 0.4s;
	--vkui--animation_duration_m: 0.2s;
	--vkui--animation_duration_s: 0.1s;
	--vkui--animation_easing_default: cubic-bezier(0.3, 0.3, 0.5, 1);
	--vkui--opacity_disable: 0.48;
	--vkui--opacity_disable_accessibility: 0.64;
	--vkui--tone_value_overlay: 0.48;
	--vkui--tone_value_viewer: 0.88;
	--vkui--tone_value_toolbar: 0.24;
	--vkui--tone_value_hover: 0.04;
	--vkui--tone_value_active: 0.08;
	--vkui--tone_value_focus: 0.08;
	--vkui--type_border_button: solid;
	--vkui--type_border_position: inset;
	--vkui--theme_name_base: 'octavius';
	--vkui--octavius_shadow_sidebar_item_text: none;
	--vkui--octavius_shadow_sidebar_item_icon: none;
	--vkui--octavius_elevation_card: none;
	--vkui--octavius_shadow_empty_state_text: none;
	--vkui--octavius_elevation_header: none;
	--vkui--octavius_text_shadow_empty_state_text: none;
	--vkui--octavius_position_background: 50% 0;
	--vkui--octavius_image_overlay_background: none;
	--vkui--octavius_text_shadow_sidebar_item_text: none;
	--vkui--octavius_filter_sidebar_item_icon: none;
	--vkui--octavius_image_background: none;
	--vkui--octavius_color_letter_attach_list_background: linear-gradient(270deg,#fff 22.77%,rgba(255,255,255,0) 104.46%);
	--vkui--colors_scheme: light;
	--vkui--color_background_accent: #005FF9;
	--vkui--color_background_accent--hover: #005CF1;
	--vkui--color_background_accent--active: #0059EA;
	--vkui--color_background_accent_themed: #005FF9;
	--vkui--color_background_accent_themed--hover: #005CF1;
	--vkui--color_background_accent_themed--active: #0059EA;
	--vkui--color_background_accent_alternative: #FF9E00;
	--vkui--color_background_accent_alternative--hover: #F59802;
	--vkui--color_background_accent_alternative--active: #EB9305;
	--vkui--color_background_content: #FFFFFF;
	--vkui--color_background_content--hover: #F5F5F7;
	--vkui--color_background_content--active: #EBECEF;
	--vkui--color_background_secondary: #F0F1F3;
	--vkui--color_background_secondary--hover: #E6E8EC;
	--vkui--color_background_secondary--active: #DDDFE4;
	--vkui--color_background_secondary_alpha: rgba(0, 16, 61, 0.06);
	--vkui--color_background_secondary_alpha--hover: rgba(0, 16, 61, 0.1);
	--vkui--color_background_secondary_alpha--active: rgba(0, 16, 61, 0.14);
	--vkui--color_background: #FFFFFF;
	--vkui--color_background--hover: #F5F5F7;
	--vkui--color_background--active: #EBECEF;
	--vkui--color_background_contrast: #FFFFFF;
	--vkui--color_background_contrast--hover: #F5F5F7;
	--vkui--color_background_contrast--active: #EBECEF;
	--vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.20);
	--vkui--color_background_contrast_secondary_alpha--hover: rgba(255, 255, 255, 0.24);
	--vkui--color_background_contrast_secondary_alpha--active: rgba(255, 255, 255, 0.28);
	--vkui--color_background_warning: #FFF1AD;
	--vkui--color_background_warning--hover: #F5E8A9;
	--vkui--color_background_warning--active: #EBDFA4;
	--vkui--color_background_negative: #ED0A34;
	--vkui--color_background_negative--hover: #E40A34;
	--vkui--color_background_negative--active: #DA0A35;
	--vkui--color_background_tertiary: #F9F9FA;
	--vkui--color_background_tertiary--hover: #EFF0F2;
	--vkui--color_background_tertiary--active: #E5E6EB;
	--vkui--color_background_modal: #FFFFFF;
	--vkui--color_background_modal--hover: #F5F5F7;
	--vkui--color_background_modal--active: #EBECEF;
	--vkui--color_background_positive: #0DC268;
	--vkui--color_background_positive--hover: #0CBB66;
	--vkui--color_background_positive--active: #0CB465;
	--vkui--color_background_negative_tint: #FAEBEB;
	--vkui--color_background_negative_tint--hover: #F0E2E4;
	--vkui--color_background_negative_tint--active: #E6D9DD;
	--vkui--color_background_positive_tint: #ECFAF3;
	--vkui--color_background_positive_tint--hover: #E3F1EC;
	--vkui--color_background_positive_tint--active: #D9E7E4;
	--vkui--color_field_background: #ffffff;
	--vkui--color_field_background--hover: #F5F5F7;
	--vkui--color_field_background--active: #EBECEF;
	--vkui--color_background_modal_inverse: #303030;
	--vkui--color_background_modal_inverse--hover: #2E2F31;
	--vkui--color_background_modal_inverse--active: #2C2D31;
	--vkui--color_background_contrast_inverse: #303030;
	--vkui--color_background_contrast_inverse--hover: #2E2F31;
	--vkui--color_background_contrast_inverse--active: #2C2D31;
	--vkui--color_background_accent_tint: #5a9eff;
	--vkui--color_background_accent_tint--hover: #5698F7;
	--vkui--color_background_accent_tint--active: #5393EF;
	--vkui--color_text_accent: #005FF9;
	--vkui--color_text_accent--hover: #005CF1;
	--vkui--color_text_accent--active: #0059EA;
	--vkui--color_text_accent_themed: #005FF9;
	--vkui--color_text_accent_themed--hover: #005CF1;
	--vkui--color_text_accent_themed--active: #0059EA;
	--vkui--color_text_negative: #ED0A34;
	--vkui--color_text_negative--hover: #E40A34;
	--vkui--color_text_negative--active: #DA0A35;
	--vkui--color_text_link: #005BD1;
	--vkui--color_text_link--hover: #0058CB;
	--vkui--color_text_link--active: #0055C5;
	--vkui--color_text_link_themed: #005BD1;
	--vkui--color_text_link_themed--hover: #0058CB;
	--vkui--color_text_link_themed--active: #0055C5;
	--vkui--color_text_muted: #2C2D2E;
	--vkui--color_text_muted--hover: #2A2C2F;
	--vkui--color_text_muted--active: #282B2F;
	--vkui--color_text_primary: #2C2D2E;
	--vkui--color_text_primary--hover: #2A2C2F;
	--vkui--color_text_primary--active: #282B2F;
	--vkui--color_text_primary_invariably: #2C2D2E;
	--vkui--color_text_primary_invariably--hover: #2A2C2F;
	--vkui--color_text_primary_invariably--active: #282B2F;
	--vkui--color_text_secondary: #87898F;
	--vkui--color_text_secondary--hover: #82848C;
	--vkui--color_text_secondary--active: #7C7F88;
	--vkui--color_text_subhead: #797A80;
	--vkui--color_text_subhead--hover: #74767D;
	--vkui--color_text_subhead--active: #6F727B;
	--vkui--color_text_tertiary: #AAADB3;
	--vkui--color_text_tertiary--hover: #A3A7AE;
	--vkui--color_text_tertiary--active: #9CA0AA;
	--vkui--color_text_link_visited: #528FDF;
	--vkui--color_text_link_visited--hover: #4F8AD9;
	--vkui--color_text_link_visited--active: #4B85D2;
	--vkui--color_text_contrast: #FFFFFF;
	--vkui--color_text_contrast--hover: #F5F5F7;
	--vkui--color_text_contrast--active: #EBECEF;
	--vkui--color_text_contrast_themed: #FFFFFF;
	--vkui--color_text_contrast_themed--hover: #F5F5F7;
	--vkui--color_text_contrast_themed--active: #EBECEF;
	--vkui--color_link_contrast: #FFFFFF;
	--vkui--color_link_contrast--hover: #F5F5F7;
	--vkui--color_link_contrast--active: #EBECEF;
	--vkui--color_text_positive: #0DC268;
	--vkui--color_text_positive--hover: #0CBB66;
	--vkui--color_text_positive--active: #0CB465;
	--vkui--color_icon_accent: #005FF9;
	--vkui--color_icon_accent--hover: #005CF1;
	--vkui--color_icon_accent--active: #0059EA;
	--vkui--color_icon_accent_themed: #005FF9;
	--vkui--color_icon_accent_themed--hover: #005CF1;
	--vkui--color_icon_accent_themed--active: #0059EA;
	--vkui--color_icon_negative: #ED0A34;
	--vkui--color_icon_negative--hover: #E40A34;
	--vkui--color_icon_negative--active: #DA0A35;
	--vkui--color_icon_primary: #2C2D2E;
	--vkui--color_icon_primary--hover: #2A2C2F;
	--vkui--color_icon_primary--active: #282B2F;
	--vkui--color_icon_primary_invariably: #2C2D2E;
	--vkui--color_icon_primary_invariably--hover: #2A2C2F;
	--vkui--color_icon_primary_invariably--active: #282B2F;
	--vkui--color_icon_medium: #919399;
	--vkui--color_icon_medium--hover: #8B8E95;
	--vkui--color_icon_medium--active: #858992;
	--vkui--color_icon_medium_alpha: rgba(39, 43, 55, 0.5);
	--vkui--color_icon_medium_alpha--hover: rgba(39, 43, 55, 0.54);
	--vkui--color_icon_medium_alpha--active: rgba(39, 43, 55, 0.58);
	--vkui--color_icon_secondary: #A5A7AD;
	--vkui--color_icon_secondary--hover: #9EA1A9;
	--vkui--color_icon_secondary--active: #989BA4;
	--vkui--color_icon_secondary_alpha: rgba(39, 43, 55, 0.3);
	--vkui--color_icon_secondary_alpha--hover: rgba(39, 43, 55, 0.34);
	--vkui--color_icon_secondary_alpha--active: rgba(39, 43, 55, 0.38);
	--vkui--color_icon_tertiary: #CFD1D6;
	--vkui--color_icon_tertiary--hover: #C7C9D0;
	--vkui--color_icon_tertiary--active: #BEC2CA;
	--vkui--color_icon_tertiary_alpha: rgba(39, 43, 55, 0.2);
	--vkui--color_icon_tertiary_alpha--hover: rgba(39, 43, 55, 0.24);
	--vkui--color_icon_tertiary_alpha--active: rgba(39, 43, 55, 0.28);
	--vkui--color_icon_contrast: #FFFFFF;
	--vkui--color_icon_contrast--hover: #F5F5F7;
	--vkui--color_icon_contrast--active: #EBECEF;
	--vkui--color_icon_contrast_themed: #FFFFFF;
	--vkui--color_icon_contrast_themed--hover: #F5F5F7;
	--vkui--color_icon_contrast_themed--active: #EBECEF;
	--vkui--color_icon_positive: #0DC268;
	--vkui--color_icon_positive--hover: #0CBB66;
	--vkui--color_icon_positive--active: #0CB465;
	--vkui--color_icon_contrast_secondary: #F2F3F5;
	--vkui--color_icon_contrast_secondary--hover: #E8EAEE;
	--vkui--color_icon_contrast_secondary--active: #DFE1E6;
	--vkui--color_stroke_accent: #005FF9;
	--vkui--color_stroke_accent--hover: #005CF1;
	--vkui--color_stroke_accent--active: #0059EA;
	--vkui--color_stroke_accent_themed: #005FF9;
	--vkui--color_stroke_accent_themed--hover: #005CF1;
	--vkui--color_stroke_accent_themed--active: #0059EA;
	--vkui--color_stroke_contrast: #FFFFFF;
	--vkui--color_stroke_contrast--hover: #F5F5F7;
	--vkui--color_stroke_contrast--active: #EBECEF;
	--vkui--color_stroke_negative: #ED0A34;
	--vkui--color_stroke_negative--hover: #E40A34;
	--vkui--color_stroke_negative--active: #DA0A35;
	--vkui--color_image_border_alpha: rgba(0, 16, 61, 0.08);
	--vkui--color_image_border_alpha--hover: rgba(0, 16, 61, 0.12);
	--vkui--color_image_border_alpha--active: rgba(0, 16, 61, 0.16);
	--vkui--color_field_border_alpha: rgba(0, 16, 61, 0.12);
	--vkui--color_field_border_alpha--hover: rgba(0, 16, 61, 0.16);
	--vkui--color_field_border_alpha--active: rgba(0, 16, 61, 0.2);
	--vkui--color_separator_primary_alpha: rgba(0, 16, 61, 0.12);
	--vkui--color_separator_primary_alpha--hover: rgba(0, 16, 61, 0.16);
	--vkui--color_separator_primary_alpha--active: rgba(0, 16, 61, 0.2);
	--vkui--color_separator_secondary: #E6E7EB;
	--vkui--color_separator_secondary--hover: #DDDEE4;
	--vkui--color_separator_secondary--active: #D4D6DD;
	--vkui--color_separator_primary: #DADCE0;
	--vkui--color_separator_primary--hover: #D1D4D9;
	--vkui--color_separator_primary--active: #C9CCD3;
	--vkui--color_stroke_positive: #0DC268;
	--vkui--color_stroke_positive--hover: #0CBB66;
	--vkui--color_stroke_positive--active: #0CB465;
	--vkui--color_separator_primary2x: #CDD0D5;
	--vkui--color_separator_primary2x--hover: #C5C8CF;
	--vkui--color_separator_primary2x--active: #BDC1C9;
	--vkui--color_separator_primary3x: #BFC3CA;
	--vkui--color_separator_primary3x--hover: #B7BCC4;
	--vkui--color_separator_primary3x--active: #B0B5BF;
	--vkui--color_accent_blue: #005FF9;
	--vkui--color_accent_blue--hover: #005CF1;
	--vkui--color_accent_blue--active: #0059EA;
	--vkui--color_accent_gray: #A5A7AD;
	--vkui--color_accent_gray--hover: #9EA1A9;
	--vkui--color_accent_gray--active: #989BA4;
	--vkui--color_accent_red: #ED0A34;
	--vkui--color_accent_red--hover: #E40A34;
	--vkui--color_accent_red--active: #DA0A35;
	--vkui--color_accent_green: #0DC268;
	--vkui--color_accent_green--hover: #0CBB66;
	--vkui--color_accent_green--active: #0CB465;
	--vkui--color_accent_orange: #FF9E00;
	--vkui--color_accent_orange--hover: #F59802;
	--vkui--color_accent_orange--active: #EB9305;
	--vkui--color_accent_purple: #4F6DDC;
	--vkui--color_accent_purple--hover: #4C69D6;
	--vkui--color_accent_purple--active: #4966CF;
	--vkui--color_accent_violet: #C15DF3;
	--vkui--color_accent_violet--hover: #B95AEC;
	--vkui--color_accent_violet--active: #B257E4;
	--vkui--color_accent_secondary: #FF9E00;
	--vkui--color_accent_secondary--hover: #F59802;
	--vkui--color_accent_secondary--active: #EB9305;
	--vkui--color_action_sheet_text: #005FF9;
	--vkui--color_action_sheet_text--hover: #005CF1;
	--vkui--color_action_sheet_text--active: #0059EA;
	--vkui--color_header_background: #FFFFFF;
	--vkui--color_header_background--hover: #F5F5F7;
	--vkui--color_header_background--active: #EBECEF;
	--vkui--color_panel_header_icon: #005FF9;
	--vkui--color_panel_header_icon--hover: #005CF1;
	--vkui--color_panel_header_icon--active: #0059EA;
	--vkui--color_write_bar_input_background: #F0F1F3;
	--vkui--color_write_bar_input_background--hover: #E6E8EC;
	--vkui--color_write_bar_input_background--active: #DDDFE4;
	--vkui--color_write_bar_input_border_alpha: rgba(0, 16, 61, 0.8);
	--vkui--color_write_bar_input_border_alpha--hover: rgba(0, 16, 61, 0.84);
	--vkui--color_write_bar_input_border_alpha--active: rgba(0, 16, 61, 0.88);
	--vkui--color_track_background: #DADCE0;
	--vkui--color_track_background--hover: #D1D4D9;
	--vkui--color_track_background--active: #C9CCD3;
	--vkui--color_track_buffer: #83AAEA;
	--vkui--color_track_buffer--hover: #7EA4E3;
	--vkui--color_track_buffer--active: #799EDC;
	--vkui--color_image_placeholder: #E6E7EB;
	--vkui--color_image_placeholder--hover: #DDDEE4;
	--vkui--color_image_placeholder--active: #D4D6DD;
	--vkui--color_image_placeholder_alpha: rgba(0, 16, 61, 0.8);
	--vkui--color_image_placeholder_alpha--hover: rgba(0, 16, 61, 0.84);
	--vkui--color_image_placeholder_alpha--active: rgba(0, 16, 61, 0.88);
	--vkui--color_search_field_background: #E6E7EB;
	--vkui--color_search_field_background--hover: #DDDEE4;
	--vkui--color_search_field_background--active: #D4D6DD;
	--vkui--color_write_bar_icon: #005FF9;
	--vkui--color_write_bar_icon--hover: #005CF1;
	--vkui--color_write_bar_icon--active: #0059EA;
	--vkui--color_skeleton_from: #F3F3F5;
	--vkui--color_skeleton_from--hover: #E9EAEE;
	--vkui--color_skeleton_from--active: #E0E1E6;
	--vkui--color_skeleton_to: #E0E1E6;
	--vkui--color_skeleton_to--hover: #D7D9DF;
	--vkui--color_skeleton_to--active: #CED0D8;
	--vkui--color_avatar_overlay: rgba(145, 147, 153, 0.48);
	--vkui--color_avatar_overlay--hover: rgba(145, 147, 153, 0.52);
	--vkui--color_avatar_overlay--active: rgba(145, 147, 153, 0.56);
	--vkui--color_avatar_overlay_inverse_alpha: rgba(255, 255, 255, 0.85);
	--vkui--color_avatar_overlay_inverse_alpha--hover: rgba(255, 255, 255, 0.89);
	--vkui--color_avatar_overlay_inverse_alpha--active: rgba(255, 255, 255, 0.93);
	--vkui--color_overlay_primary: rgba(0, 0, 0, 0.48);
	--vkui--color_overlay_primary--hover: rgba(0, 0, 0, 0.52);
	--vkui--color_overlay_primary--active: rgba(0, 0, 0, 0.56);
	--vkui--color_segmented_control: #FFFFFF;
	--vkui--color_segmented_control--hover: #F5F5F7;
	--vkui--color_segmented_control--active: #EBECEF;
	--vkui--color_transparent: transparent;
	--vkui--color_transparent--hover: rgba(0, 16, 61, 0.04);
	--vkui--color_transparent--active: rgba(0, 16, 61, 0.08);
	--vkui--color_rating: #ffd400;
	--vkui--color_rating--hover: #F5CC02;
	--vkui--color_rating--active: #EBC405;
	--vkui--color_button_contrast_alpha: rgba(255, 255, 255, 1);
	--vkui--color_button_contrast_alpha--hover: rgba(255, 255, 255, 0.8);
	--vkui--color_button_contrast_alpha--active: rgba(255, 255, 255, 0.6);
	--vkui--color_button_contrast: #FFFFFF;
	--vkui--color_button_contrast--hover: #FFFFFF;
	--vkui--color_button_contrast--active: #FFFFFF;
	--vkui--color_thumb_error_background_alpha: rgba(237, 10, 52, 0.12);
	--vkui--color_thumb_error_background_alpha--hover: rgba(237, 10, 52, 0.16);
	--vkui--color_thumb_error_background_alpha--active: rgba(237, 10, 52, 0.2);
	--vkui--color_background_accent_tint_themed_alpha: rgba(0, 95, 249, 0.06);
	--vkui--color_background_accent_tint_themed_alpha--hover: rgba(0, 95, 249, 0.1);
	--vkui--color_background_accent_tint_themed_alpha--active: rgba(0, 95, 249, 0.14);
	--vkui--color_background_accent_tint_alpha: rgba(0, 95, 249, 0.06);
	--vkui--color_background_accent_tint_alpha--hover: rgba(0, 95, 249, 0.1);
	--vkui--color_background_accent_tint_alpha--active: rgba(0, 95, 249, 0.14);
	--vkui--color_background_accent_tint_themed: #f0f4ff;
	--vkui--color_background_accent_tint_themed--hover: #E6EBF7;
	--vkui--color_background_accent_tint_themed--active: #DDE2EF;
	--vkui--color_background_warning_tint_themed_alpha: rgba(255, 241, 173, 0.48);
	--vkui--color_background_warning_tint_themed_alpha--hover: rgba(255, 241, 173, 0.52);
	--vkui--color_background_warning_tint_themed_alpha--active: rgba(255, 241, 173, 0.56);
	--vkui--color_background_warning_tint_alpha: rgba(255, 241, 173, 0.48);
	--vkui--color_background_warning_tint_alpha--hover: rgba(255, 241, 173, 0.52);
	--vkui--color_background_warning_tint_alpha--active: rgba(255, 241, 173, 0.56);
	--vkui--color_background_warning_tint_themed: #fffce0;
	--vkui--color_background_warning_tint_themed--hover: #F5F3D9;
	--vkui--color_background_warning_tint_themed--active: #EBE9D3;
	--vkui--color_background_warning_tint: #fffce0;
	--vkui--color_background_warning_tint--hover: #F5F3D9;
	--vkui--color_background_warning_tint--active: #EBE9D3;
	--vkui--color_background_negative_tint_themed_alpha: rgba(237, 10, 52, 0.08);
	--vkui--color_background_negative_tint_themed_alpha--hover: rgba(237, 10, 52, 0.12);
	--vkui--color_background_negative_tint_themed_alpha--active: rgba(237, 10, 52, 0.16);
	--vkui--color_background_negative_tint_alpha: rgba(237, 10, 52, 0.08);
	--vkui--color_background_negative_tint_alpha--hover: rgba(237, 10, 52, 0.12);
	--vkui--color_background_negative_tint_alpha--active: rgba(237, 10, 52, 0.16);
	--vkui--color_background_negative_tint_themed: #faebeb;
	--vkui--color_background_negative_tint_themed--hover: #F0E2E4;
	--vkui--color_background_negative_tint_themed--active: #E6D9DD;
	--vkui--color_background_positive_tint_themed_alpha: rgba(13, 194, 104, 0.08);
	--vkui--color_background_positive_tint_themed_alpha--hover: rgba(13, 194, 104, 0.12);
	--vkui--color_background_positive_tint_themed_alpha--active: rgba(13, 194, 104, 0.16);
	--vkui--color_background_positive_tint_alpha: rgba(13, 194, 104, 0.08);
	--vkui--color_background_positive_tint_alpha--hover: rgba(13, 194, 104, 0.12);
	--vkui--color_background_positive_tint_alpha--active: rgba(13, 194, 104, 0.16);
	--vkui--color_background_positive_tint_themed: #ECFAF3;
	--vkui--color_background_positive_tint_themed--hover: #E3F1EC;
	--vkui--color_background_positive_tint_themed--active: #D9E7E4;
	--vkui--color_social_vk: #3F8AE0;
	--vkui--color_social_vk--hover: #3C85D9;
	--vkui--color_social_vk--active: #3A80D3;
	--vkui--color_social_ok: #ee8208;
	--vkui--color_social_ok--hover: #E47D0A;
	--vkui--color_social_ok--active: #DB790C;
	--vkui--color_social_fb: #1877f2;
	--vkui--color_social_fb--hover: #1773EB;
	--vkui--color_social_fb--active: #166FE4;
	--vkui--color_social_mir: #117eda;
	--vkui--color_social_mir--hover: #107AD4;
	--vkui--color_social_mir--active: #1075CD;
	--vkui--color_social_twitter: #1da1f2;
	--vkui--color_social_twitter--hover: #1C9BEB;
	--vkui--color_social_twitter--active: #1B95E4;
	--vkui--color_social_behance: #1769ff;
	--vkui--color_social_behance--hover: #1665F7;
	--vkui--color_social_behance--active: #1562EF;
	--vkui--color_social_dribbble: #ea4c89;
	--vkui--color_social_dribbble--hover: #E14A86;
	--vkui--color_social_dribbble--active: #D74783;
	--vkui--color_background_thumbnail: #EBECEF;
	--vkui--color_background_thumbnail--hover: #E2E3E8;
	--vkui--color_background_thumbnail--active: #D8DAE1;
	--vkui--color_background_thumbnail_alpha: rgba(0, 16, 61, 0.08);
	--vkui--color_background_thumbnail_alpha--hover: rgba(0, 16, 61, 0.12);
	--vkui--color_background_thumbnail_alpha--active: rgba(0, 16, 61, 0.16);
	--vkui--color_palette_red1: #fc2c38;
	--vkui--color_palette_red1--hover: #F22B38;
	--vkui--color_palette_red1--active: #E82A38;
	--vkui--color_palette_red2: #eb1981;
	--vkui--color_palette_red2--hover: #E2197E;
	--vkui--color_palette_red2--active: #D8187C;
	--vkui--color_palette_red3: #ff71bb;
	--vkui--color_palette_red3--hover: #F56DB6;
	--vkui--color_palette_red3--active: #EB69B1;
	--vkui--color_palette_orange1: #ff8b2e;
	--vkui--color_palette_orange1--hover: #F5862F;
	--vkui--color_palette_orange1--active: #EB812F;
	--vkui--color_palette_orange1_alpha: rgba(255, 158, 0, 0.12);
	--vkui--color_palette_orange1_alpha--hover: rgba(255, 158, 0, 0.16);
	--vkui--color_palette_orange1_alpha--active: rgba(255, 158, 0, 0.2);
	--vkui--color_palette_yellow1: #ffc311;
	--vkui--color_palette_yellow1--hover: #F5BC13;
	--vkui--color_palette_yellow1--active: #EBB515;
	--vkui--color_palette_green1: #aee113;
	--vkui--color_palette_green1--hover: #A7D915;
	--vkui--color_palette_green1--active: #A0D016;
	--vkui--color_palette_green2: #59c354;
	--vkui--color_palette_green2--hover: #55BC53;
	--vkui--color_palette_green2--active: #52B552;
	--vkui--color_palette_green3: #37eb94;
	--vkui--color_palette_green3--hover: #35E291;
	--vkui--color_palette_green3--active: #33D98D;
	--vkui--color_palette_green4: #00b1b3;
	--vkui--color_palette_green4--hover: #00ABAE;
	--vkui--color_palette_green4--active: #00A4AA;
	--vkui--color_palette_green1_alpha: rgba(92, 186, 56, 0.12);
	--vkui--color_palette_green1_alpha--hover: rgba(92, 186, 56, 0.16);
	--vkui--color_palette_green1_alpha--active: rgba(92, 186, 56, 0.2);
	--vkui--color_palette_green2_alpha: rgba(0, 230, 180, 0.08);
	--vkui--color_palette_green2_alpha--hover: rgba(0, 230, 180, 0.12);
	--vkui--color_palette_green2_alpha--active: rgba(0, 230, 180, 0.16);
	--vkui--color_palette_blue1: #2951ff;
	--vkui--color_palette_blue1--hover: #274EF7;
	--vkui--color_palette_blue1--active: #264CEF;
	--vkui--color_palette_blue2: #00abf2;
	--vkui--color_palette_blue2--hover: #00A5EB;
	--vkui--color_palette_blue2--active: #009FE4;
	--vkui--color_palette_blue3: #26dfdf;
	--vkui--color_palette_blue3--hover: #24D7D9;
	--vkui--color_palette_blue3--active: #23CED2;
	--vkui--color_palette_blue1_alpha: rgba(0, 95, 249, 0.12);
	--vkui--color_palette_blue1_alpha--hover: rgba(0, 95, 249, 0.16);
	--vkui--color_palette_blue1_alpha--active: rgba(0, 95, 249, 0.2);
	--vkui--color_palette_violet1: #6c00ff;
	--vkui--color_palette_violet1--hover: #6801F7;
	--vkui--color_palette_violet1--active: #6301EF;
	--vkui--color_palette_violet2: #ae73ff;
	--vkui--color_palette_violet2--hover: #A76FF7;
	--vkui--color_palette_violet2--active: #A06BEF;
	--vkui--color_alert: #c1341b;
	--vkui--color_alert--hover: #B9331C;
	--vkui--color_alert--active: #B2311E;
	--vkui--color_tag_background_mint: #B3F0DD;
	--vkui--color_tag_background_mint--hover: #ACE7D7;
	--vkui--color_tag_background_mint--active: #A5DED0;
	--vkui--color_tag_text_mint: #205B5B;
	--vkui--color_tag_text_mint--hover: #1F585A;
	--vkui--color_tag_text_mint--active: #1D5559;
	--vkui--color_tag_background_sky: #A4DEFF;
	--vkui--color_tag_background_sky--hover: #9DD6F7;
	--vkui--color_tag_background_sky--active: #97CEEF;
	--vkui--color_tag_text_sky: #203F5B;
	--vkui--color_tag_text_sky--hover: #1F3D5A;
	--vkui--color_tag_text_sky--active: #1D3B59;
	--vkui--color_tag_background_orange: #FFD2A8;
	--vkui--color_tag_background_orange--hover: #F5CAA4;
	--vkui--color_tag_background_orange--active: #EBC29F;
	--vkui--color_tag_text_orange: #5B3620;
	--vkui--color_tag_text_orange--hover: #573421;
	--vkui--color_tag_text_orange--active: #543322;
	--vkui--color_tag_background_pink: #FFB2DA;
	--vkui--color_tag_background_pink--hover: #F5ACD4;
	--vkui--color_tag_background_pink--active: #EBA5CD;
	--vkui--color_tag_text_pink: #51205B;
	--vkui--color_tag_text_pink--hover: #4E1F5A;
	--vkui--color_tag_text_pink--active: #4B1F59;
	--vkui--color_tag_background_purple: #CEB3F0;
	--vkui--color_tag_background_purple--hover: #C6ACE9;
	--vkui--color_tag_background_purple--active: #BEA6E2;
	--vkui--color_tag_text_purple: #38205B;
	--vkui--color_tag_text_purple--hover: #361F5A;
	--vkui--color_tag_text_purple--active: #341F59;
	--vkui--octavius_color_placeholder_background: #ffffff;
	--vkui--octavius_color_placeholder_background--hover: #F5F5F7;
	--vkui--octavius_color_placeholder_background--active: #EBECEF;
	--vkui--octavius_color_promo_background: #EBEEF5;
	--vkui--octavius_color_promo_background--hover: #E2E5EE;
	--vkui--octavius_color_promo_background--active: #D8DCE6;
	--vkui--octavius_color_thread_footer_background: #ebecef;
	--vkui--octavius_color_thread_footer_background--hover: #E2E3E8;
	--vkui--octavius_color_thread_footer_background--active: #D8DAE1;
	--vkui--octavius_color_button_text: #333333;
	--vkui--octavius_color_button_text--hover: #313233;
	--vkui--octavius_color_button_text--active: #2F3034;
	--vkui--octavius_color_button_icon: #333333;
	--vkui--octavius_color_button_icon--hover: #313233;
	--vkui--octavius_color_button_icon--active: #2F3034;
	--vkui--octavius_color_button_background_alpha: transparent;
	--vkui--octavius_color_button_background_alpha--hover: rgba(0, 16, 61, 0.04);
	--vkui--octavius_color_button_background_alpha--active: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_background: #FFFFFF;
	--vkui--octavius_color_background--hover: #F5F5F7;
	--vkui--octavius_color_background--active: #EBECEF;
	--vkui--octavius_color_background_accent_toned_alpha: rgba(0, 95, 249, 0.12);
	--vkui--octavius_color_background_accent_toned_alpha--hover: rgba(0, 95, 249, 0.16);
	--vkui--octavius_color_background_accent_toned_alpha--active: rgba(0, 95, 249, 0.2);
	--vkui--octavius_color_overlay_background: transparent;
	--vkui--octavius_color_overlay_background--hover: rgba(0, 16, 61, 0.04);
	--vkui--octavius_color_overlay_background--active: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_header_background: #005FF9;
	--vkui--octavius_color_header_background--hover: #005CF1;
	--vkui--octavius_color_header_background--active: #0059EA;
	--vkui--octavius_color_header_button_text: #FFFFFF;
	--vkui--octavius_color_header_button_text--hover: #F5F5F7;
	--vkui--octavius_color_header_button_text--active: #EBECEF;
	--vkui--octavius_color_header_button_background_alpha: transparent;
	--vkui--octavius_color_header_button_background_alpha--hover: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_header_button_background_alpha--active: rgba(0, 16, 61, 0.24);
	--vkui--octavius_color_header_icon: #FFFFFF;
	--vkui--octavius_color_header_icon--hover: #F5F5F7;
	--vkui--octavius_color_header_icon--active: #EBECEF;
	--vkui--octavius_color_header_icon_unread: #FFFFFF;
	--vkui--octavius_color_header_icon_unread--hover: #F5F5F7;
	--vkui--octavius_color_header_icon_unread--active: #EBECEF;
	--vkui--octavius_color_header_icon_favorite: #FFFFFF;
	--vkui--octavius_color_header_icon_favorite--hover: #F5F5F7;
	--vkui--octavius_color_header_icon_favorite--active: #EBECEF;
	--vkui--octavius_color_header_icon_attach: #FFFFFF;
	--vkui--octavius_color_header_icon_attach--hover: #F5F5F7;
	--vkui--octavius_color_header_icon_attach--active: #EBECEF;
	--vkui--octavius_color_header_text_secondary: #93969b;
	--vkui--octavius_color_header_text_secondary--hover: #8D9197;
	--vkui--octavius_color_header_text_secondary--active: #878B93;
	--vkui--octavius_color_header_search_icon: #b6b8be;
	--vkui--octavius_color_header_search_icon--hover: #AFB1B9;
	--vkui--octavius_color_header_search_icon--active: #A7ABB4;
	--vkui--octavius_color_header_search_chip_background: #F0F1F3;
	--vkui--octavius_color_header_search_chip_background--hover: #E6E8EC;
	--vkui--octavius_color_header_search_chip_background--active: #DDDFE4;
	--vkui--octavius_color_header_search_chip_background_editable: #ffffff;
	--vkui--octavius_color_header_search_chip_background_editable--hover: #F5F5F7;
	--vkui--octavius_color_header_search_chip_background_editable--active: #EBECEF;
	--vkui--octavius_color_header_search_chip_border_editable_alpha: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_header_search_chip_border_editable_alpha--hover: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_header_search_chip_border_editable_alpha--active: rgba(0, 16, 61, 0.2);
	--vkui--octavius_color_header_search_background: #ffffff;
	--vkui--octavius_color_header_search_background--hover: #F5F5F7;
	--vkui--octavius_color_header_search_background--active: #EBECEF;
	--vkui--octavius_color_header_search_background_collapsed: #ffffff;
	--vkui--octavius_color_header_search_background_collapsed--hover: #F5F5F7;
	--vkui--octavius_color_header_search_background_collapsed--active: #EBECEF;
	--vkui--octavius_color_header_search_text: #2C2D2E;
	--vkui--octavius_color_header_search_text--hover: #2A2C2F;
	--vkui--octavius_color_header_search_text--active: #282B2F;
	--vkui--octavius_color_header_search_text_collapsed: #87898F;
	--vkui--octavius_color_header_search_text_collapsed--hover: #82848C;
	--vkui--octavius_color_header_search_text_collapsed--active: #7C7F88;
	--vkui--octavius_color_header_filter_text_alpha: rgba(255, 255, 255, .48);
	--vkui--octavius_color_header_filter_text_alpha--hover: rgba(255, 255, 255, 0.52);
	--vkui--octavius_color_header_filter_text_alpha--active: rgba(255, 255, 255, 0.56);
	--vkui--octavius_color_header_progress: #FF9E00;
	--vkui--octavius_color_header_progress--hover: #F59802;
	--vkui--octavius_color_header_progress--active: #EB9305;
	--vkui--octavius_color_portal_menu_background: #FFFFFF;
	--vkui--octavius_color_portal_menu_background--hover: #F5F5F7;
	--vkui--octavius_color_portal_menu_background--active: #EBECEF;
	--vkui--octavius_color_sidebar_item_icon_active: #2C2D2E;
	--vkui--octavius_color_sidebar_item_icon_active--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_item_icon_active--active: #282B2F;
	--vkui--octavius_color_sidebar_item_icon_primary: #2C2D2E;
	--vkui--octavius_color_sidebar_item_icon_primary--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_item_icon_primary--active: #282B2F;
	--vkui--octavius_color_sidebar_item_text_active: #2C2D2E;
	--vkui--octavius_color_sidebar_item_text_active--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_item_text_active--active: #282B2F;
	--vkui--octavius_color_sidebar_item_text_primary: #2C2D2E;
	--vkui--octavius_color_sidebar_item_text_primary--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_item_text_primary--active: #282B2F;
	--vkui--octavius_color_sidebar_button_icon: #2C2D2E;
	--vkui--octavius_color_sidebar_button_icon--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_button_icon--active: #282B2F;
	--vkui--octavius_color_sidebar_button_text: #2C2D2E;
	--vkui--octavius_color_sidebar_button_text--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_button_text--active: #282B2F;
	--vkui--octavius_color_sidebar_button_background: #FFFFFF;
	--vkui--octavius_color_sidebar_button_background--hover: #F5F5F7;
	--vkui--octavius_color_sidebar_button_background--active: #EBECEF;
	--vkui--octavius_color_sidebar_counter_background_alpha: transparent;
	--vkui--octavius_color_sidebar_counter_background_alpha--hover: rgba(0, 16, 61, 0.04);
	--vkui--octavius_color_sidebar_counter_background_alpha--active: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_sidebar_counter_text: #2C2D2E;
	--vkui--octavius_color_sidebar_counter_text--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_counter_text--active: #282B2F;
	--vkui--octavius_color_sidebar_item_background_alpha: transparent;
	--vkui--octavius_color_sidebar_item_background_alpha--hover: rgba(0, 16, 61, 0.04);
	--vkui--octavius_color_sidebar_item_background_alpha--active: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_sidebar_scrollbar_alpha: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_sidebar_scrollbar_alpha--hover: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_sidebar_scrollbar_alpha--active: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_sidebar_item_icon: #333333;
	--vkui--octavius_color_sidebar_item_icon--hover: #313233;
	--vkui--octavius_color_sidebar_item_icon--active: #2F3034;
	--vkui--octavius_color_sidebar_item_text: #333333;
	--vkui--octavius_color_sidebar_item_text--hover: #313233;
	--vkui--octavius_color_sidebar_item_text--active: #2F3034;
	--vkui--octavius_color_sidebar_item_button_background_alpha: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_sidebar_item_button_background_alpha--hover: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_sidebar_item_button_background_alpha--active: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_sidebar_item_icon_secondary: #87898F;
	--vkui--octavius_color_sidebar_item_icon_secondary--hover: #82848C;
	--vkui--octavius_color_sidebar_item_icon_secondary--active: #7C7F88;
	--vkui--octavius_color_sidebar_item_text_secondary: #87898F;
	--vkui--octavius_color_sidebar_item_text_secondary--hover: #82848C;
	--vkui--octavius_color_sidebar_item_text_secondary--active: #7C7F88;
	--vkui--octavius_color_sidebar_short_item_icon: #333333;
	--vkui--octavius_color_sidebar_short_item_icon--hover: #313233;
	--vkui--octavius_color_sidebar_short_item_icon--active: #2F3034;
	--vkui--octavius_color_sidebar_short_item_text: #333333;
	--vkui--octavius_color_sidebar_short_item_text--hover: #313233;
	--vkui--octavius_color_sidebar_short_item_text--active: #2F3034;
	--vkui--octavius_color_sidebar_short_item_text_active: #2C2D2E;
	--vkui--octavius_color_sidebar_short_item_text_active--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_short_item_text_active--active: #282B2F;
	--vkui--octavius_color_sidebar_short_item_icon_active: #2C2D2E;
	--vkui--octavius_color_sidebar_short_item_icon_active--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_short_item_icon_active--active: #282B2F;
	--vkui--octavius_color_sidebar_short_item_icon_secondary: #A5A7AD;
	--vkui--octavius_color_sidebar_short_item_icon_secondary--hover: #9EA1A9;
	--vkui--octavius_color_sidebar_short_item_icon_secondary--active: #989BA4;
	--vkui--octavius_color_sidebar_short_item_text_secondary: #87898F;
	--vkui--octavius_color_sidebar_short_item_text_secondary--hover: #82848C;
	--vkui--octavius_color_sidebar_short_item_text_secondary--active: #7C7F88;
	--vkui--octavius_color_sidebar_compose_button_background: #ffffff;
	--vkui--octavius_color_sidebar_compose_button_background--hover: #F5F5F7;
	--vkui--octavius_color_sidebar_compose_button_background--active: #EBECEF;
	--vkui--octavius_color_sidebar_compose_button_text: #2c2d2e;
	--vkui--octavius_color_sidebar_compose_button_text--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_compose_button_text--active: #282B2F;
	--vkui--octavius_color_sidebar_compose_button_icon: #2c2d2e;
	--vkui--octavius_color_sidebar_compose_button_icon--hover: #2A2C2F;
	--vkui--octavius_color_sidebar_compose_button_icon--active: #282B2F;
	--vkui--octavius_color_content_scrollbar_alpha: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_content_scrollbar_alpha--hover: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_content_scrollbar_alpha--active: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_icon_unread: #005FF9;
	--vkui--octavius_color_icon_unread--hover: #005CF1;
	--vkui--octavius_color_icon_unread--active: #0059EA;
	--vkui--octavius_color_icon_favorite: #fc2c38;
	--vkui--octavius_color_icon_favorite--hover: #F22B38;
	--vkui--octavius_color_icon_favorite--active: #E82A38;
	--vkui--octavius_color_icon_order: #ff54aa;
	--vkui--octavius_color_icon_order--hover: #F551A6;
	--vkui--octavius_color_icon_order--active: #EB4FA1;
	--vkui--octavius_color_icon_finance: #2fc885;
	--vkui--octavius_color_icon_finance--hover: #2DC182;
	--vkui--octavius_color_icon_finance--active: #2BB97F;
	--vkui--octavius_color_icon_registration: #ff9e00;
	--vkui--octavius_color_icon_registration--hover: #F59802;
	--vkui--octavius_color_icon_registration--active: #EB9305;
	--vkui--octavius_color_icon_travel: #ba34fc;
	--vkui--octavius_color_icon_travel--hover: #B333F4;
	--vkui--octavius_color_icon_travel--active: #AB31ED;
	--vkui--octavius_color_icon_event: #09a6fa;
	--vkui--octavius_color_icon_event--hover: #09A0F2;
	--vkui--octavius_color_icon_event--active: #089AEB;
	--vkui--octavius_color_icon_fees: #e60000;
	--vkui--octavius_color_icon_fees--hover: #DD0102;
	--vkui--octavius_color_icon_fees--active: #D40105;
	--vkui--octavius_color_icon_event_alpha: rgba(59, 186, 254, 0.1);
	--vkui--octavius_color_icon_event_alpha--hover: rgba(59, 186, 254, 0.14);
	--vkui--octavius_color_icon_event_alpha--active: rgba(59, 186, 254, 0.18);
	--vkui--octavius_color_icon_order_alpha: rgba(249, 76, 163, 0.1);
	--vkui--octavius_color_icon_order_alpha--hover: rgba(249, 76, 163, 0.14);
	--vkui--octavius_color_icon_order_alpha--active: rgba(249, 76, 163, 0.18);
	--vkui--octavius_color_icon_travel_alpha: rgba(193, 93, 243, 0.1);
	--vkui--octavius_color_icon_travel_alpha--hover: rgba(193, 93, 243, 0.14);
	--vkui--octavius_color_icon_travel_alpha--active: rgba(193, 93, 243, 0.18);
	--vkui--octavius_color_sidebar_icon_unread: #005FF9;
	--vkui--octavius_color_sidebar_icon_unread--hover: #005CF1;
	--vkui--octavius_color_sidebar_icon_unread--active: #0059EA;
	--vkui--octavius_color_sidebar_icon_favorite: #fc2c38;
	--vkui--octavius_color_sidebar_icon_favorite--hover: #F22B38;
	--vkui--octavius_color_sidebar_icon_favorite--active: #E82A38;
	--vkui--octavius_color_sidebar_icon_order: #ff54aa;
	--vkui--octavius_color_sidebar_icon_order--hover: #F551A6;
	--vkui--octavius_color_sidebar_icon_order--active: #EB4FA1;
	--vkui--octavius_color_sidebar_icon_finance: #2fc885;
	--vkui--octavius_color_sidebar_icon_finance--hover: #2DC182;
	--vkui--octavius_color_sidebar_icon_finance--active: #2BB97F;
	--vkui--octavius_color_sidebar_icon_registration: #ff9e00;
	--vkui--octavius_color_sidebar_icon_registration--hover: #F59802;
	--vkui--octavius_color_sidebar_icon_registration--active: #EB9305;
	--vkui--octavius_color_sidebar_icon_travel: #ba34fc;
	--vkui--octavius_color_sidebar_icon_travel--hover: #B333F4;
	--vkui--octavius_color_sidebar_icon_travel--active: #AB31ED;
	--vkui--octavius_color_sidebar_icon_event: #09a6fa;
	--vkui--octavius_color_sidebar_icon_event--hover: #09A0F2;
	--vkui--octavius_color_sidebar_icon_event--active: #089AEB;
	--vkui--octavius_color_sidebar_icon_fees: #e60000;
	--vkui--octavius_color_sidebar_icon_fees--hover: #DD0102;
	--vkui--octavius_color_sidebar_icon_fees--active: #D40105;
	--vkui--octavius_color_list_letter_background: #ffffff;
	--vkui--octavius_color_list_letter_background--hover: #f5f5f7;
	--vkui--octavius_color_list_letter_background--active: #ebecef;
	--vkui--octavius_color_list_text_unread: #2C2D2E;
	--vkui--octavius_color_list_text_unread--hover: #2A2C2F;
	--vkui--octavius_color_list_text_unread--active: #282B2F;
	--vkui--octavius_color_list_text_primary: #2C2D2E;
	--vkui--octavius_color_list_text_primary--hover: #2A2C2F;
	--vkui--octavius_color_list_text_primary--active: #282B2F;
	--vkui--octavius_color_list_icon_primary: #2C2D2E;
	--vkui--octavius_color_list_icon_primary--hover: #2A2C2F;
	--vkui--octavius_color_list_icon_primary--active: #282B2F;
	--vkui--octavius_color_list_letter_separator_alpha: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_list_letter_separator_alpha--hover: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_list_letter_separator_alpha--active: rgba(0, 16, 61, 0.2);
	--vkui--octavius_color_list_letter_adv_background: #F0F5FF;
	--vkui--octavius_color_list_letter_adv_background--hover: #E6ECF7;
	--vkui--octavius_color_list_letter_adv_background--active: #DDE3EF;
	--vkui--octavius_color_list_background_positive_alpha: rgba(13, 194, 104, 0.08);
	--vkui--octavius_color_list_background_positive_alpha--hover: rgba(13, 194, 104, 0.12);
	--vkui--octavius_color_list_background_positive_alpha--active: rgba(13, 194, 104, 0.16);
	--vkui--octavius_color_letter_list_text_unread: #2c2d2e;
	--vkui--octavius_color_letter_list_text_unread--hover: #2A2C2F;
	--vkui--octavius_color_letter_list_text_unread--active: #282B2F;
	--vkui--octavius_color_dataset_background: #FFFFFF;
	--vkui--octavius_color_dataset_background--hover: #F5F5F7;
	--vkui--octavius_color_dataset_background--active: #EBECEF;
	--vkui--octavius_color_empty_state_text: #333333;
	--vkui--octavius_color_empty_state_text--hover: #313233;
	--vkui--octavius_color_empty_state_text--active: #2F3034;
	--vkui--octavius_color_layout_border_alpha: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_layout_border_alpha--hover: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_layout_border_alpha--active: rgba(0, 16, 61, 0.2);
	--vkui--octavius_color_layout_letter_border_alpha: rgba(0, 16, 61, 0.12);
	--vkui--octavius_color_layout_letter_border_alpha--hover: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_layout_letter_border_alpha--active: rgba(0, 16, 61, 0.2);
	--vkui--octavius_color_empty_state_text_link: #005bd1;
	--vkui--octavius_color_empty_state_text_link--hover: #0058CB;
	--vkui--octavius_color_empty_state_text_link--active: #0055C5;
	--vkui--octavius_color_letter_contact_background_alpha: transparent;
	--vkui--octavius_color_letter_contact_background_alpha--hover: rgba(0, 16, 61, 0.08);
	--vkui--octavius_color_letter_contact_background_alpha--active: rgba(0, 16, 61, 0.16);
	--vkui--octavius_color_letter_preview_background_primary: #F9F9FA;
	--vkui--octavius_color_letter_preview_background_primary--hover: #EFF0F2;
	--vkui--octavius_color_letter_preview_background_primary--active: #E5E6EB;
	--vkui--octavius_color_letter_preview_background_secondary: #F3F3F5;
	--vkui--octavius_color_letter_preview_background_secondary--hover: #E9EAEE;
	--vkui--octavius_color_letter_preview_background_secondary--active: #E0E1E6;
	--vkui--octavius_color_notification_border: #ffffff;
	--vkui--octavius_color_notification_border--hover: #F5F5F7;
	--vkui--octavius_color_notification_border--active: #EBECEF;
	--vkui--octavius_text_decoration_empty_state_text_link: none;
	--vkui--octavius_text_decoration_empty_state_text_link--hover: underline;
	--vkui--octavius_text_decoration_empty_state_text_link--active: underline;
	--vkui--octavius_color_background_accent_tint_alpha: rgba(0, 95, 249, 0.12);
	--vkui--octavius_color_background_accent_tint_alpha--hover: rgba(0, 95, 249, 0.16);
	--vkui--octavius_color_background_accent_tint_alpha--active: rgba(0, 95, 249, 0.2);
	--vkui--octavius_color_background_negative_tint_alpha: rgba(236, 71, 80, 0.12);
	--vkui--octavius_color_background_negative_tint_alpha--hover: rgba(236, 71, 80, 0.16);
	--vkui--octavius_color_background_negative_tint_alpha--active: rgba(236, 71, 80, 0.2);
	--vkui--octavius_color_background_positive_tint_alpha: rgba(13, 194, 104, 0.1);
	--vkui--octavius_color_background_positive_tint_alpha--hover: rgba(13, 194, 104, 0.14);
	--vkui--octavius_color_background_positive_tint_alpha--active: rgba(13, 194, 104, 0.18);
	--vkui--octavius_color_button_background_contrast_alpha: rgba(250, 250, 250, 0.99);
	--vkui--octavius_color_button_background_contrast_alpha--hover: rgb(250, 250, 250);
	--vkui--octavius_color_button_background_contrast_alpha--active: rgb(250, 250, 250);
	--vkui--octavius_color_icon_social: #7288FF;
	--vkui--octavius_color_icon_social--hover: #6D83F7;
	--vkui--octavius_color_icon_social--active: #697EEF;
	--vkui--octavius_color_icon_mailings: #FC8A15;
	--vkui--octavius_color_icon_mailings--hover: #F28517;
	--vkui--octavius_color_icon_mailings--active: #E88018;
	--vkui--octavius_color_icon_to_myself: #00BD93;
	--vkui--octavius_color_icon_to_myself--hover: #00B690;
	--vkui--octavius_color_icon_to_myself--active: #00AF8C;
	--vkui--octavius_color_icon_news: #08ABD9;
	--vkui--octavius_color_icon_news--hover: #08A5D3;
	--vkui--octavius_color_icon_news--active: #079FCD;
	--vkui--octavius_color_icon_official: #EC4750;
	--vkui--octavius_color_icon_official--hover: #E3454F;
	--vkui--octavius_color_icon_official--active: #D9434E;
	--vkui--octavius_color_icon_school: #AC7EEC;
	--vkui--octavius_color_icon_school--hover: #A57AE5;
	--vkui--octavius_color_icon_school--active: #9E75DE;
	--vkui--octavius_color_icon_games: #F8BA04;
	--vkui--octavius_color_icon_games--hover: #EEB306;
	--vkui--octavius_color_icon_games--active: #E4AC09;
}
#css-bundle-theme {
	font-family: 'default';
	content: 'default';
}

.theme-default .application_new-toolbar {
	--vkui--octavius_color_app_background: #F6F7F8;
}

.theme-default .ph-container {
	--ph-color-project: var(--vkui--color_text_primary);
	--ph-color-project-accent: var(--vkui--color_text_accent);

	--ph-color-counter: var(--vkui--color_text_accent);

	--ph-color-project-bg--active: rgba(0, 95, 249, 0.1);
	--ph-color-project-bg--hover: var(--vkui--octavius_color_sidebar_item_background_alpha--hover);
}

.theme-default .ph-container .search-panel {
	--vkui--octavius_color_header_search_background: #FFFFFF;
}

